<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let element"> <a href="/user/{{element.id}}">{{element.name}}</a></td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="surname1">
      <th mat-header-cell *matHeaderCellDef> 1º APELLIDO </th>
      <td mat-cell *matCellDef="let element"> {{element.surname1}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="surname2">
      <th mat-header-cell *matHeaderCellDef> 2º APELLIDO </th>
      <td mat-cell *matCellDef="let element"> {{element.surname2}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef> NIF </th>
        <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="generate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" [routerLink]="['/user', element.id]">
          <mat-icon>save_as</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
