<form #userForm="ngForm">
    <div>
        <span>
            <mat-form-field appearance="fill">
                <mat-label>NOMBRE</mat-label>
                <input matInput type="text" [(ngModel)]="user.name" name="name" #name="ngModel"/>
            </mat-form-field>
        </span>
        <span>
            <mat-form-field appearance="fill">
                <mat-label>1º APELLIDO</mat-label>
                <input matInput type="text" [(ngModel)]="user.surname1" name="surname1" #name="ngModel"/>
            </mat-form-field>
        </span>
        <span>
            <mat-form-field appearance="fill">
                <mat-label>2º APELLIDO</mat-label>
                <input matInput type="text" [(ngModel)]="user.surname2" name="surname2" #name="ngModel"/>
            </mat-form-field>
        </span>
        <span>
            <mat-form-field appearance="fill">
                <mat-label>NIF</mat-label>
                <input matInput type="text" [(ngModel)]="user.nif" name="nif" #name="ngModel"/>
            </mat-form-field>
        </span>
    </div>
    
    <button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
    </button>
 </form>
